*{
    padding: 0;
    margin: 0;
}
body{
background-color: #cb415b;;
text-align: center;
}
.container{
height: 70vh;
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 246px;
    width: 366px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.box{
    height: 78px;
    width: 95px;
    border: none;
    border-radius: 11px;
  font-size: 36px;
  background-color: #bde0fe;
}